.container{
    position: absolute;
    left:80%;
    top: 8%;
    transform: translate(-50%,-50%);
    padding: 8px;
}
input{
    outline: nome;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border:1px solid rgb(67, 96, 99);
    transition: all.7s ease;
}
::placeholder{
    color: rgb(67, 96, 99);
}
.btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background:rgb(61, 135, 144);
    line-height: 80px;
    border-radius: 50%;
    text-align:center;
    cursor: pointer;
    transition: .5s;
}
.btn i {
font-size: 25px;
color: white;
line-height: 80px;
transition: all .7s ease;
}
.container:hover input{
width: 350px;
}
.container:hover i{
    transform: rotate(-360deg);
}
.btn:hover{
    background:black ;
}
button{
    border-radius: 30px;
    left: 90px;
    width: 100px;
    background-color: rgb(61, 135, 144);
}




